@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
    font-family: 'Muli-Reg';
    src: url("fonts/Muli.ttf") format("truetype");
}

body {
background-image: url(Images/20.jpg);
    background-size: cover;
    font-family = "Muli-Reg";
    display: inline-block;
    min-width: 100%;
            margin: 0px;

}



div.mainDiv{
    display: inline-block;
    border-radius: 30px;
    border-color: orange;
    border-style: dashed;
    padding: 20px;
    border-width: medium;
    min-width: 90%;
    margin: 5px;
}

div:hover image{
opacity: 0.7;}

div.TitleSyle{
    font-family: "Muli-Reg";
    font-size: 40px;
    height: 80px;
    color: black;
    min-width: 100%;
    
    border-bottom-color: dodgerblue;
    border-bottom-style: dashed;
}

div.ArtImg{
    
    
    display: block;
    width: 250px;
    height: 250px;

    margin-left: 20px;
   border-radius: 50%;
    
    border-color: white;
    border-style: dashed;
    padding: 20px;
}

.ArtDes{
    font-family : "Muli-Reg";
    margin-left: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    border-color: white;
    border-style: dashed;
    padding: 20px;
    border-width: medium;
    height: auto;
    width: 250px;
}


.ArtHow{
    font-family : "Muli-Reg";
    margin-left: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    border-color: white;
    border-style: dashed;
    padding: 20px;
    border-width: medium;
    height: auto;
    width: auto;
}

div.collect{
    position:relative;
    margin-left:10%;
    margin-bottom: 5%;
    display: flex;
}


img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    
}


div.HorizOrder{
    display: inline-block;
}

.num{
    font-family: "Muli-Reg";
    font-size: 30px;
    font-weight: 600;
}


input:checked + .like-btn-svg{
  transition: background 1s steps(28);
  animation: fave-like-btn-svg 1s steps(28);
  background-position: -2800px 0;
}

@keyframes fave-like-btn-svg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}







div.footer{
    
    font-family: "Muli-ExtraLightItalic";
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    min-width: 100%;
    
    margin-top: 360px;
    margin-top: 600px;
    padding: 50px;
    overflow:scroll;
}

div.footerC{
    display:inline-grid;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    
}

div.col{
    font-size: 14px;
    display:flex;
    position: inherit;
    margin: 3px;
    
}

div.brief{
    font-family: "Muli-Reg";
    text-align: justify;
    border-right-color: solid;
    border-right-style: dashed;
    padding-right: 20px;
    width: 250px;
   font-weight: 400;
    
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 12px;
    height: 12px;
  
  text-decoration: none;
  border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


a{
    text-decoration: none;
    color: white;
}



