@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("Muli-ExtraLightItalic.ttf") format('truetype');
}
@font-face {
    font-family: 'Muli-Reg';
    src: url("Muli.ttf") format("truetype");
}

body {
  background-color: lightblue;
    font-family = "Muli-Reg";
}

