@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("Muli-ExtraLightItalic.ttf") format('truetype');
}
@font-face {
    font-family: 'Muli-Reg';
    src: url("Muli.ttf") format("truetype");
}

body {
  background-image: url(335834-PA54JB-814.jpg);
    background-size: cover;
    font-family = "Muli-Reg";
}

div.BoxStyle{
    background-color: darkgray;
    border-radius: 20px;
    margin: 100px;
    padding : 15px 32px;
    background: rgba(204, 204, 204, 0.5);

}

div.Role{
    float: center;
}

input {
  display: inline-block;
  float: right;
}

p.fm{
    display: inline-block;
    float: left;
    clear: left;
    text-align: right
}