@font-face {
    font-family: "fonts/Muli-ExtraLightItalic";
    src: url("fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Muli-Reg";
    src: url("fonts/Muli.ttf") format("truetype");
}

body {
    margin: 0px;
  padding: 0;
}

#myVideo {
position:fixed;
    top:0;
    left:0;
  min-width: 100%;
  min-height: 100%;
    z-index: -100;
}


/*Scroll Bar 
::-webkit-scrollbar {
  width: 10px;
    color: black;
    opacity: 1;
    border-radius: 20px;
    margin-right: 20px;
    
}
*/

.content {
  color: #f1f1f1;
  width: 100%;
}


div.titleDiv {
    font-size: 100px;
    font-family: "Muli-Reg";
    text-shadow: 0 0 10px #FFFFFF, 0 0 5px #FFFFFF;
    
    margin-top:200px;
    margin-left: 20px;
    z-index: 100;
    width: 100px;
    font-weight:600;
}

.nav {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  font-family: "Muli-Reg";
}

.logo {
  width: 95px;
  height: 45px;
}

.nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}

div.footer{
    font-family: "Muli-Reg";
    
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 170px;
    min-width: 100%;
    margin-top: 150px;
    padding: 20px;
}

div.footerC{
    display:inline-grid;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    
}

div.col{
    font-size: 14px;
    display:flex;
    position: inherit;
    margin: 3px;
    
}
