@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("Muli-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
    font-family: 'Muli-Reg';
    src: url("Muli.ttf") format("truetype");
}

@keyframes inputAnimation {
  from {width: 100px;}
  to {width: 250px;}
}

body {
  background-image: url(335834-PA54JB-814.jpg);
    background-size: cover;
    font-family = "Muli-Reg";
    display: inline-block;
}

div.mainDiv{
    display: inline-block;
}

div.TitleSyle{
    color: antiquewhite;
    width: 500px;
    height: 200px;
    position:fixed;
    left:30%;
    top: 20%;
}

div.BoxStyle{
    font-family : "Muli-Reg";
    background-color: darkgray;
    border-radius: 20px;
    display: inline-block;
    width: 500px;
    height: auto;
    padding : 15px 10px 15px 20px;
    background: rgba(204, 204, 204, 0.5);
    box-shadow: -12px 0px 15px 0px rgba(0,0,0,0.2);
    position:fixed;
    left:30%;
    top: 30%;
}

p.FormTextStyle{
    display: inline-block;
    float:left;
    clear:left;
    margin-left: 80px;
    font-size: 20px;
    
}

input {
  display: inline-block;
  float: right;
  clear: right;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 20px;  
}


input.InputStyle{
    font-family : "Muli-Reg";
      display: inline-block;
  float: left;
  clear: left;
  font-size: 20px;
   
    width: 100;
  padding-left: 10px;
  margin-right: 20px;
    
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom-color: black;
    border-bottom-width:2px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    margin-bottom: 10px;
    
}



input.InputStyle:hover{

  animation-name: inputAnimation;
  animation-duration: 0.5s;
}

::-webkit-input-placeholder{
    color: white;
    
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.0s 0.0s none;
  opacity: 0;
    
}

