@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
    font-family: 'Muli-Reg';
    src: url("fonts/Muli.ttf") format("truetype");
}

@keyframes inputAnimation {
  from {width: 100px;}
  to {width: 250px;}
}

body {
  background-image: url(Images/20.jpg);
    background-size: cover;
    font-family = "Muli-Reg";
    display: inline-block;
}

div.mainDiv{
    display: inline-block;
    
}

div.collect{
    position:fixed;
    left:30%;
    top: 30%;
    display: flex;
}

div.TitleSyle{
    font-family: "Muli-ExtraLightItalic";
    font-size: 15px;
    
    color: antiquewhite;
    width: 200px;
    height: 200px;
    position:fixed;
    left:30%;
    top: 10%;
}

div.BoxStyle{
    font-family : "Muli-Reg";
    background-color: darkgray;
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    height: auto;
    padding : 15px 10px 15px 20px;
    background: rgba(37, 116, 169, 0.5);
    box-shadow: -12px 0px 15px 0px rgba(44, 130, 201,0.2);

}

p.FormTextStyle{
    display: inline-block;
    float:left;
    clear:left;
    margin-left: 80px;
    font-size: 20px;
    
}

input {
  display: inline-block;
  float: right;
  clear: right;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 20px;  
}


input.InputStyle{
    font-family : "Muli-Reg";
      display: inline-block;
  float: left;
  clear: left;
  font-size: 20px;
   
    width: 100;
  padding-left: 10px;
  margin-right: 20px;
    
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom-color: black;
    border-bottom-width:2px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    margin-bottom: 10px;
    
}



input.InputStyle:hover{

  animation-name: inputAnimation;
  animation-duration: 0.5s;
}

input.InputStyle:required{
border-bottom-color: red;
}

::-webkit-input-placeholder{
    color: white;
    
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.0s 0.0s none;
  opacity: 0;
    
}



select {
    font-size: 20px;
    font-family: 'Muli-Reg';
    
    color: white;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0px;
        border-bottom-color: #484848;
    border-bottom-width:2px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    height: 35px;
    width: 245px;
    background-color: rgba(0, 0, 0, 0.0);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
      padding-left: 10px;
    
}
.select-css::-ms-expand {
    display: none;
    
}
.select-css:hover {
    border-color: #888;
    
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;

}

.select-css option {
    font-weight:normal;
    
}

.select-css:required{
    border-bottom-color: red;
}

Button{
    background-color:beige;
    border-color: #484848;
    border-radius: 5px;
    border-style:none;
        height: 35px;
    width: 80px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
     font-size: 15px;
    font-family: 'Muli-Reg';
    
}

Button:hover{
        background-color:floralwhite;
}

div.success{
    display: none;
    font-family : "Muli-Reg";
    font-size: 20px;
    color: white;
    margin: 100px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-color: white;
    border-style: dashed;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
}