@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("Muli-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Muli-Reg";
    src: url("Muli.ttf") format("truetype");
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


div.titleDiv {
    font-size: 80px;
    font-family: "Muli-Reg";
    text-shadow: 0 0 10px #FFFFFF, 0 0 5px #FFFFFF;
    position: fixed;
    top:50%;
}

.nav {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
position:fixed;
    top:0;
    left:0;
    width:100%;
    font-family: "Muli-Reg";
}

.logo {
  width: 100px;
  height: 50px;
}


.userProfileIcon{
      width: 40px;
  height: 40px;
    border-radius: 50%;
    margin:7px;
    
}

.menuText{
     margin: 14px 16px;
}



.nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  height: 50px;
  text-decoration: none;
  font-size: 17px;
}


.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
background-color: rgba(0, 0, 0, 0.0);
    color: white;
}

{box-sizing: border-box;}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.closeButton{
    
    width: 20px;
    height: 20px;
    float:right;
    clear:right;
    border:none;
    margin-right: 10px;
    border-radius: 50%;
    border-color: white;
    background-color:whitesmoke;
    font-size: 10px;
    color: darkgray;
    
    
}


.ProfileOption{
    font-family: "Muli-Reg";
    font-size: 12px;
    padding: 7px;
    
}

.ProfileTitle{
    font-family: "Muli-Reg";
    margin-left: 10px;
}

.ProfileOption:hover{
    font-size: 15px;
        background-color:rgba(201, 201, 201, 0.1);;

}

.form-popup {
  display: none;
  position: fixed;
  top: 50px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
    background-color: white;
}

.form-container {
  
  width: 150px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.SideMenu{
    
}