@font-face {
    font-family: "SweetGetawayDemoRegular-2XyK";
    src: url("fonts/Robot Crush copy.ttf") format("truetype");
}


@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "HappySweetyDemoRegular";
    src: url("fonts/HappySweetyDemoRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Muli-Reg";
    src: url("fonts/Muli.ttf") format("truetype");
}

@font-face {
    font-family: "flores";
    src: url("Fonts/flores-font/FloresDemo-nRAjO.ttf") format("truetype");
}

html{
    width:100%;
    overflow-x: hidden !important;
}

body{
    background-color: dodgerblue;
    background-size:auto;
    margin: 0 auto;
    
    width:100%;
overflow-x: hidden;
}




/*--------*/

div.blockline{
    min-width: 100%;
    height: auto;
    z-index: 100px;
    text-align: center;
    
}






/*Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
    opacity: 0.1;
    border-radius: 20px;
    margin-right: 20px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    
   
  background: #fff; 
    border-radius: 20px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    
  background: #fff; 
    border-radius: 20px;
}












div.BoxStyle{
    text-align: center;
    margin-top: 100px;
    font-family : "Muli-Reg";
    background-color: darkgray;
    border-radius: 20px;
    display: inline-block;
    width: 400px;
    
    padding : 15px;
    background: white;
    border-radius: 15px;
    

}

p.FormTextStyle{
    display: inline-block;    
}

.BoxTitle{
    font-size: 30px;
}

input.InputStyle{

    font-family : "Muli-Reg";
      display: inline-block;

  font-size: 20px;
    height: 60px;
    width: 200;
  padding-left: 20px;
  margin-right: 20px;
   border:none;
    border-bottom-color: black;
    border-bottom-style: solid;
    background-color: rgba(0, 0, 0, 0.0);
    
}

input.InputStyle[type=file]{
    border:none;
    padding-top: 20px;
    font-size: 15px;
}

input:required {
    box-shadow: none;
    border-bottom-color: black;
}


input.InputStyle:hover{

  animation-name: inputAnimation;
  animation-duration: 0.5s;
}

input.InputStyle:required{
border-bottom-color: red;
}

::-webkit-input-placeholder{
    color: lightgrey;
    
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.0s 0.0s none;
  opacity: 0;
}


Button{
    background-color:darkgrey;
    border-color: #484848;
    border-radius: 5px;
    border-style:none;
    height: 50px;
    width: 100px;
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 40px;
     font-size: 15px;
    font-family: 'Muli-Reg';
    
}

Button:hover{
    cursor: pointer;
        background-color:grey;
}

p.BoxSmall{
    font-size: 12px;
}


.ButtonStyle{
    
}
a, a:link, a:visited, a:active, a:hover {
    border-bottom-style: none;
    text-decoration:none;
    border:0!important;
    color: inherit;
}


.skeleton{
    min-height: 700px;
    min-width: 100%;
}
