@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Muli-Reg";
    src: url("fonts/Muli.ttf") format("truetype");
}

body {
    margin: 0px;
  padding: 0;
    background-color: dodgerblue;
}

#myVideo {
position:fixed;
    top:0;
    left:0;
  min-width: 100%;
  min-height: 100%;
    z-index: -100;
}


/*Scroll Bar 
::-webkit-scrollbar {
  width: 10px;
    color: black;
    opacity: 1;
    border-radius: 20px;
    margin-right: 20px;
    
}
*/

.content {
  color: #f1f1f1;
  width: 100%;
}


div.titleDiv {
    font-size: 100px;
    font-family: "Muli-Reg";
    text-shadow: 0 0 10px #FFFFFF, 0 0 5px #FFFFFF;
    
    margin-top:200px;
    margin-left: 20px;
    z-index: 100;
    width: 100px;
    font-weight:600;
}






a{
    text-decoration: none;
    color: white;
}
