


@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("Fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}



@font-face {
    font-family: "HappySweetyDemoRegular";
    src: url("Fonts/HappySweetyDemoRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Muli-Reg";
    src: url("Fonts/Muli.ttf") format("truetype");
}


.logo {
  width: 130px;
  height: 45px;
    margin-right: 50px;
}

.userProfileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 7px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.menuText {
  margin: 14px 16px;
  
}







  {
  box-sizing: border-box;
}





.nav {
  background-color:rgba(255,70, 0, 1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  font-family: "Muli-Reg";
    z-index: 100;
    min-width: 100%;
}

.logo {
  width: 130px;
  height: 45px;
}

.nav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: white;
  color: black;
}

.nav a.active {
  cursor: default;
  background-color: white;
    color: black;
}



