@font-face {
    font-family: "SweetGetawayDemoRegular-2XyK";
    src: url("fonts/Robot Crush copy.ttf") format("truetype");
}


@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "HappySweetyDemoRegular";
    src: url("fonts/HappySweetyDemoRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Muli-Reg";
    src: url("fonts/Muli.ttf") format("truetype");
}

@font-face {
    font-family: "flores";
    src: url("Fonts/flores-font/FloresDemo-nRAjO.ttf") format("truetype");
}


html{
    width:100%;
    overflow-x: hidden !important;
}

body{
    background-color: dodgerblue;
    background-size:auto;
    margin: 0 auto;
    width:100%;
overflow-x: hidden;
}




/*--------*/

div.blockline{
    height: auto;
    z-index: 100px;
}






/*Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
    opacity: 0.1;
    border-radius: 20px;
    margin-right: 20px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    
   
  background: #fff; 
    border-radius: 20px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    
  background: #fff; 
    border-radius: 20px;
}





div.mainTitleDiv {
    font-size: 100px;
    color: white;
    font-family: "SweetGetawayDemoRegular-2XyK";
    margin-left: -100px;
    margin-top: 10px;
    
    position: relative;
     transition-timing-function: ease-in-out;
  transition: 0.4s;
    float: left;
    width: 500px;
    animation-timing-function:linear;
    animation-duration: 5;
}

#LDSA{
    padding-left: 50px;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: thick;
  -webkit-transform: rotate(-90deg);
    margin-left: 350px;
    
    
}




div.BoxStyle{
    text-align: center;
    margin-top: 70px;
    margin-left: 0px;
    font-family : "Muli-Reg";
    border-radius: 20px;
    display: inline-block;
    width: 700px;
    height: 450;
    padding : 15px;
    background: white;    
    border-radius: 15px;
}

p.FormTextStyle{
    display: inline-block;    
}

.BoxTitle{
    font-size: 30px;
}

input.InputStyle{

    font-family : "Muli-Reg";
      display: inline-block;

  font-size: 20px;
    height: 60px;
    width: 200;
  padding-left: 20px;
  margin-right: 20px;
   border:none;
    border-bottom-color: black;
    border-bottom-style: solid;
    background-color: rgba(0, 0, 0, 0.0);
    
}

input.InputStyle[type=file]{
    
    padding-top: 20px;
    font-size: 10px;
    border:none;
    height: 100px;
}

input:required {
    box-shadow: none;
    border-bottom-color: black;
}

.uploadAlias{
    border:solid black;
    border-radius: 15px;
    height: 50px;
    width: 510px;
    margin-top: 50px;
}


input.InputStyle:hover{

  animation-name: inputAnimation;
  animation-duration: 0.5s;
}


::-webkit-input-placeholder{
    color: lightgrey;
    
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.0s 0.0s none;
  opacity: 0;
}


Button{
    background-color:darkgrey;
    border-color: #484848;
    border-radius: 5px;
    border-style:none;
    height: 50px;
    width: 100px;
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 20px;
     font-size: 15px;
    font-family: 'Muli-Reg';
    
}

Button:hover{
    cursor: pointer;
        background-color:grey;
}

p.BoxSmall{
    font-size: 12px;
}


.ButtonStyle{
    
}

.uploadFile{
    margin-left: 80px;
    margin-right: 80px;
    margin-top:20px;
    text-align: center;
}
a, a:link, a:visited, a:active, a:hover {
    border-bottom-style: none;
    text-decoration:none;
    border:0!important;
    color: inherit;
}


.skeleton{
    min-height: 700px;
}







.tooltip {
  position: relative;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
