


@font-face {
    font-family: "Muli-ExtraLightItalic";
    src: url("Fonts/Muli-ExtraLightItalic.ttf") format("truetype");
}



@font-face {
    font-family: "HappySweetyDemoRegular";
    src: url("Fonts/HappySweetyDemoRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Muli-Reg";
    src: url("Fonts/Muli.ttf") format("truetype");
}


html{
    width:100%;
    overflow-x: hidden !important;
}

body{
    background-color: white;
    background-size:auto;
    margin: 0 auto;
    
    width:100%;
overflow-x: hidden;
    overflow-y: scroll;
}



a {
  text-decoration: none;
  color: inherit;
}